---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header class="page-header" role="banner"
      style="
        background:
          linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
          url('{{ '/banner.jpg' | relative_url }}') center/contain no-repeat;
        background-color: #000;
      ">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </header>


    {% include nav.html %}

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer" style="text-align:center; margin-top:2rem;">
        <span>© {{ site.time | date: "%Y" }} Koen Prange</span>
      </footer>
    </main>
  </body>
</html>
