---
---
{% capture head_path %}
{{ site.theme | append: "/_includes/head.html" }}
{% endcapture %}
{% include {{ head_path }} %}

{% include head.html %}
<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.description }}</h2>
</header>

{% include nav.html %}

<main id="content" class="main-content" role="main">
  {{ content }}
  <footer class="site-footer">
    <span>© {{ site.time | date: "%Y" }} Koen Prange</span>
  </footer>
</main>
